footer
  .upper
    .world-wella
      h3 mundo da wella
      ul
        li
          a(href="https://www.wella.com/professional/pt-BR/contact-us") contato
        li
          a(href="http://www.wella.com/professional/en-EN/careers") trabalhe conosco
        li
          a(href="https://www.wella.com/professional/pt-BR/subscribe" target="_blank") inscreva-se
    .portfolio
      h3 portfólio wella
      ul
        li
          a(href="http://www.wella.com/professional/pt-BR/home" target="_blank")
            img(src="../img/wella-footer.png")
        li
          a(href="http://international.clairolprofessional.com/cl-BR/home" target="_blank")
            img(src="../img/clairol.png")
        li
          a(href="http://www.systemprofessional.com.br/site/" target="_blank")
            img(src="../img/sp.png")
        li
          a(href="http://www.sebastianprofessionalbrazil.com/pt_BR/index.jsp" target="_blank")
            img(src="../img/sebastian.png")
        li
          a(href="https://www.facebook.com/NioxinBrasil?fref=ts" target="_blank")
            img(src="../img/nioxin.png")
    .follow-us
      h3 siga-nos
      ul
        li
          a(href="https://www.facebook.com/WellaProfessionalsBrasil?brand_redir=164734120205273" target="_blank")
            span.fa.fa-facebook
        li
          a(href="https://www.youtube.com/channel/UCUJ2LRslojl668VgAQ6GBrg" target="_blank")
            span.fa.fa-youtube
        li
          a(href="https://instagram.com/wellaprobrasil/" target="_blank")
            span.fa.fa-instagram

  .center
    .country-selector
      a(href="http://www.wella.com/professional/countryselector")
        span.fa.fa-globe
        | Escolha seu país

    ul
      li
        a(href="http://www.wella.com/professional/pt-BR/sitemap") sistemap
      li
        a(href="http://www.pg.com/pt_BR/termos_condicoes/index.shtml" target="_blank") terms & conditions
      li
        a(href="http://www.pg.com/en_US/privacy/brazilianportuguese/cookie_notice.shtml" target="_blank") sobre os cookies
      li
        a(href="http://www.pg.com/privacy/brazilianportuguese/privacy_notice.shtml" target="_blank") aviso de privacidade
      li
        a(href="http://www.pg.com/en_US/privacy/en_na/oba_notice.shtml" target="_blank") ad choices

  .bottom
    p &copy; 2016 Wella Professionals todos os direitos reservados
