.landing {
  header {
    min-height: 85vh;
    background-color: #333;
    display: flex;
    background-image: url('../img/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    h1 {
      color: $main-color;
      margin: auto;
    }
  }

  footer {
    min-height: 10vh;
    background-color: $main-color;
    padding: 2.5vh 5%;

    p {
      color: darken($main-color, 20%);
      text-align: center;

      &:first-of-type {
        font-weight: bold;
        font-size: 1.1rem;
        margin-bottom: .25rem;
      }

      &:last-of-type {
        font-size: 0.9rem;
      }
    }
  }
}
