.list
  #popupContainer
  header
    h1 Pedidos

  section
    h2 Aguardando Orçamento
    ul.budget-list
      li.budget.white(ng-repeat="budget in $ctrl.pending" ng-click="budget.showForm = true")
        .top-info
          h3
            span Cliente
            span {{ budget.user }}
        .tile
          p data limite: {{ budget.deadline }} às 13h00
        .products
          h3 lista de produtos
          ul
            li(ng-repeat="product in budget.products")
              h4
                span {{ product.quantity }}x {{ product.name }} ({{ product.brand }})
        form.bottom-form(ng-if="budget.showForm" submit="$ctrl.proposeBudget({{ budget.id }})")
          md-input-container
            label Preço
            input(ng-model="price", name="text", ui-money-mask="2", min="0", required)
          md-button.md-raised(type="submit") Enviar

  section
    h2 Aceitos
    ul.budget-list
      li.budget.green(ng-repeat="budget in $ctrl.accepted" ng-click="budget.retrieved = true" ng-if="!budget.retrieved")
        .top-info
          h3
            span Cliente
            span {{ budget.user }}
        .tile
          p código de retirada: {{ budget.code }}
        .tile(ng-if="budget.retrieved")
          p este pedido foi retirado
        .products
          h3 lista de produtos
          ul
            li(ng-repeat="product in budget.products")
              h4
                span {{ product.quantity }}x {{ product.name }} ({{ product.brand }})

  section
    h2 Orçamentos Recusados
    ul.budget-list
      li.budget.red(ng-repeat="budget in $ctrl.refused")
        .top-info
          h3
            span Cliente
            span {{ budget.user }}
        .tile
          p comprado por: {{ budget.bought_for }}
        .tile
          p você ofereceu: {{ budget.your_offer }}
        .products
          h3 lista de produtos
          ul
            li(ng-repeat="product in budget.products")
              h4
                span {{ product.quantity }}x {{ product.name }} ({{ product.brand }})
